// Reset or Normalize
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

// Global body styles
body {
    font-family: $font-family;
    font-size: $base-font-size-md;
    font-style: normal;
    font-optical-sizing: auto;
    background-color: $bg-color;
    color: $font-color;
    line-height: 1.6;
    padding: 0;
   

    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    font-weight: 300;
    
}

// Links
// a {
//     text-decoration: none;
//     color: $primary-color;
//     &:hover {
//         text-decoration: underline;
//     }
// }

// Headings
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: $primary-color;
}
