// Colors
// $primary-color: #06704A;
$primary-color: #AA06A3;
// $secondary-color: #CCDC70;
$secondary-color: #1BB40E;
$tertiary-color: #404752;

$font-color: #AA06A3;
$font-color-accent: #44464F;

// $bg-color: #F7F4E8;
$bg-color: #f1bcef59;
$bg-color1: #f1bcef;
$black: #000000;
$white: #ffffff;

// Fonts
$base-font-size: 14px;
$font-family: 'Poppins', sans-serif;

// Spacing
$padding-base: 10px;
$margin-base: 20px;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1200px;