@import 'variables';
@import 'mixins';
@import 'base';

$success-hover: #218838;
$success: #28a745;
$white: #fff;
$text-dark: #333;

nav.navbar{
    width: 100%;
    display: flex;
    height: 110px;
    // position: absolute;
    top: 0;
    box-sizing: border-box;
    background: transparent !important;
    padding: 0 1.2rem;
    justify-content: space-between;
    

    // top: 0;
    z-index: 223;
    .nav-logo{
        width: 20%;
        
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem;
        img{
            width: 5rem;
        }
        h2{
            font-size: $base-font-size * 1.5;
            font-weight: 600;
            color: $font-color;
            text-wrap: wrap;
            letter-spacing: .03cm;
            margin: 0;
            line-height: $base-font-size * 2;

        }
    }
    .nav-content{
        width: 75%;
       
        display: flex;
        align-items: center;
        gap: .6rem;
        justify-content: space-between;
        ul{
            width: 60%;
            height: 100%;;
           
            display: flex;
            align-items: center;
            justify-content: space-around;
            li{
                list-style: none;
                padding: 0 .8rem;
                
                a{
                    text-decoration: none;
                    color: $font-color;
                    font-weight: 500;
                    font-size: $base-font-size;
                    
                    padding: .3rem 0;
                    transition: .3s ease;
                    letter-spacing: .0cm;
                    text-wrap: nowrap;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        
                        left: 0;
                        bottom: 0;
                        width: 0;
                        height: 2px; /* border height */
                        background-color: $primary-color; /* border color */
                        transition: width 0.4s ease;
                    }
                    &:hover{
                        transition: .4s ease;

                        &::after {
                            width: 100%; /* full width on hover */
                        }
                    }
                    &:active{
                        color: $primary-color;
                    }
                }
            };
        }
        .extra{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 35%;
            height: 100%;


            a.get-a-loan-btn{
                @include button-style($white, white);
                min-width: 8rem;
                background: $secondary-color;
                display: flex;
                align-self: center;
                align-items: center;
                justify-content: flex-end;
                gap: .5rem;
                transition: .4s ease;;
                border-radius: 5px;
                position: relative;
                border: 1px solid $secondary-color;
                color: $white;
                // padding: 0;
                span{
                    
                    width: 100%;
                    display: flex;
                    padding-left: 5px;
                    justify-self: flex-start;
                    align-self: start;
                    align-items: flex-start;
                }
                &:hover{
                    transition: .4s ease;
                    background: $primary-color;
                    color: $white;
                    border: 1px solid $primary-color;
                }
                i.bx{
                    display: flex;
                    width: 50%;
                    align-items: flex-end;
                    justify-content: flex-end; 
                    position: absolute;
                    font-size: 30px;
                    
                }
                
                
            }
            a.stories-btn{
                @include button-style($white, white);
                background: transparent;
                min-width: 8rem;
                border: 1px solid $primary-color;
                border-radius: 5px;
                transition: .4s ease;
                color: $font-color;
                padding:0 $padding-base * 0.8;
                &:hover{
                    transition: .4s ease;
                    background: $primary-color;
                    color: $white;
                }
            }
            .nav-trigger{
                display: none;
            }
        }
        
    }
    
    @media (max-width: $breakpoint-mobile) {
        
        
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        // justify-content: space-around;
        .nav-logo{
            
            width:50%;
            padding: .5rem;
            flex-direction: row;
            justify-content: flex-start;
            h2{
                font-weight: 500;
            }
            
            
        }
        .nav-content{
            width: fit-content;
        }
        .nav-content ul{
            display: none;
        }
        .nav-content .extra{
            width:100%;
            padding-right: .5rem;
            justify-content: flex-end;
            .donate-btn,.stories-btn{
                display: none !important;
            }
        }
        
        .nav-trigger{
            width: 4rem;
            box-sizing: border-box;
            padding: .8rem;
            height: 4rem;
            display: flex !important;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            z-index: 999;
            &.active{
                span{
                    border-radius: 5px;
                    width: 60%;
                    height: 2px;
                    background:$primary-color;
                    display: flex;
                    align-self: flex-end;
                    margin: .2rem;
                    transition: .4s ease;
                    &:nth-child(1){
                        width: 50%;
                        transform: translateX(-60%) rotateZ(45deg) translateY(110%);
                        
                        
                    }
                    &:nth-child(2){
                        width: 100%;
                        transform: rotateZ(-45deg) translate(15%, -15%);
                        
                    }
                    &:nth-child(3){
                        width: 50%;
                        
                        transform:translateY(-500%) translateX(5%) rotateZ(45deg);
                    }
                    
                }
            }
            span{
                border-radius: 5px;
                width: 60%;
                height: 2px;
                
                background: $primary-color;
                display: flex;
                align-self: flex-end;
                
                transition: .4s ease;
                position: relative;
                &:nth-child(1){
                    width: 75%;
                }
                &:nth-child(2){
                    width: 100%;
                    
                   
                }
                &:nth-child(3){
                    width: 75%;
                    
                }
                
            }
        }
    }
}
.sidebar-overlay{
    width: 100%;
    height: 100vh;
    
    z-index: 99;
    background: #26412057;
    position: absolute;
    left: -100%;
    
    transition:all 0.5s ease;
    &.active{
        
        left: 0;
    }
    
}
.sidebar{
        position:fixed;
        height: 100%;
        width:70%;
        bottom: 0;
        left: -70%;
        background-color: $bg-color;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition:all 0.6s ease;
        z-index: 999;

        &.active{
            transition-delay: .6s;
            left: 0;
        }
        .nav-logo{
            width: 100%;
            height: 15%;
            
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: .5rem;
            img{
                width: 5rem;
            }
            h2{
                font-size: $base-font-size * 1.5;
                font-weight: 500;
                color: $font-color;
                text-wrap: wrap;
                letter-spacing: .03cm;
                margin: 0;
                line-height: $base-font-size * 2;

            }
        }
        .nav_list{
            
            width: 100%;
            height: 45%;
            align-items: center;
            justify-content: space-around;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1rem;
            .download-btn{
                @include button-style($white, white);
                min-width: 10rem;
                font-weight: 600 !important;
                border: 1px solid $primary-color;
                background: $primary-color;
                font-size: $base-font-size * 1;
                padding:.5rem 1rem;
                display: flex;
                align-items: center;
                line-height: 40px;
                justify-content: center;
            }
            li{
                list-style: none;
                transition: all .4s ease;
                width: 100%;
                a{
                    text-decoration: none;
                    color: $black;
                    transition: all .4s ease;
                    font-size: $base-font-size * 1.2;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    font-weight: 500;
                    justify-content: space-between;
                    &:hover{
                        color: $primary-color;
                    }
                    i.bx{
                        color: white;
                        font-size: $base-font-size * 2;
                        background: $primary-color;
                        padding: .3rem;

                    }
                }
                
                a.active{
                    color: $font-color;
                    font-weight: 600;
                }
            }
        }
        .socials{
            width: 100%;
            position: relative !important;
            margin-top: 20%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 20px;
            flex-wrap: wrap;
            padding: .8rem;
            
            a{
                text-decoration: none;
                color: $black;
                gap: .5rem;
                display: flex;
                align-items: center;
                transition: all .4s ease;
                font-weight: 400;
                i.bx{
                    font-size: $base-font-size * 1.3;
                    color: white;
                    background: $primary-color;
                    border-radius: 50px;
                    padding: 0.5rem;
                }
                img{
                    width: 1.6rem;
                }
                &:hover{
                    transform: translateY(-15%);
                    color: $primary-color;
                   
                }
            }
            a.active{
                color: $primary-color;
            }
            div{
                display: flex;
                gap: 1rem;
                padding: .5rem 0;
            }

        }

}




.main{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    // padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Scrollbar styles */
    &::-webkit-scrollbar {
        width: 12px; /* Width of the scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the track (scroll area) */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888; /* Scrollbar thumb (the actual bar) */
        border-radius: 10px; /* Roundness of the scrollbar */
        border: 3px solid #f1f1f1; /* Padding around the thumb */
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* Darker color when hovering over the scrollbar */
    }

    
    .landingpage{
        
        width: 100%;
        min-height: 60vh;
        height: fit-content;
        box-sizing: border-box;
        margin-bottom: 2rem;
        position: relative;
        overflow:hidden;
        display: flex;
        flex-direction: row;
        padding: $base-font-size * 1.5;
        justify-content: flex-start;
        align-items: center;
           
        
        
        img{
            width: 50%;
            height: 100%;
            object-fit: contain;
            background-position: center;
            
            z-index: -1;
            box-sizing: border-box;
           
            top: 0;
            
            
        }
       
        .text-content{
            
            width: 50%;
            height: fit-content;
            padding: $base-font-size * 1.5;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1.5rem;
            
          
           

            h1{
                color: $white;
                font-size: $base-font-size * 3;
                line-height: $base-font-size * 4;
                font-weight:500;
                word-spacing: .1cm;
                color: $black;
                // text-transform:capitalize;
                font-family: 'Poppins', sans-serif;
                margin: 0;

            }
            p{
                color: $font-color-accent;
                font-size: $base-font-size * 1;
                font-weight: normal;
                width: 100%;
                margin-bottom: 1rem;
            }
           
            
           
            .action-btns{
                display: flex;
                gap: $base-font-size * 1.5;
               
                width: 100%;
                a.donate-btn{
                @include button-style($white, white);
                min-width: 8rem;
                background: $secondary-color;
                display: flex;
                align-self: center;
                align-items: center;
                justify-content: flex-end;
                gap: .5rem;
                transition: .4s ease;;
                border-radius: 5px;
                position: relative;
                border: 1px solid $secondary-color;
                line-height: 45px;
                span{
                    
                    width: 100%;
                    display: flex;
                    padding-left: 5px;
                    justify-self: flex-start;
                    align-self: start;
                    align-items: flex-start;
                }
                &:hover{
                    transition: .4s ease;
                    background: $primary-color;
                    color: $white;
                    border: 1px solid $primary-color;
                }
                i.bx{
                    display: flex;
                    width: 50%;
                    align-items: flex-end;
                    justify-content: flex-end; 
                    position: absolute;
                    font-size: 30px;
                    
                }
                
                
                }
                a.contact-btn{
                    @include button-style($white, white);
                    background: transparent;
                    min-width: 8rem;
                    border: 1px solid $primary-color;
                    border-radius: 5px;
                    transition: .4s ease;
                    color: $font-color;
                    line-height: 45px;
                    padding:0 $padding-base * 0.8;
                    &:hover{
                        transition: .4s ease;
                        background: $primary-color;
                        color: $white;
                    }
                }
            }
        }


        @media (max-width: $breakpoint-mobile) {
            gap: 2rem;
            flex-direction: column;
            .text-content{
                bottom: 10%;
                width: 100%;                
                padding: 0rem;
                
                gap: 1.5rem;
                
                h1{
                    width: 100%;
                    font-size: $base-font-size * 2.5;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    
                }
                
                .action-btns{
                    justify-content: flex-start;
                    width: 100%;
                   
                }
            }
            img{
                width: 100%;
                
            }
        }
    }
}
//     //Why Us Section
//     .why-section{
//         width: 100%;
//         height: fit-content;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         padding: 2rem 0;
//         gap: 2rem;
//         .section-header{
//             width: 100%;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//             h3{
//                 font-size: $base-font-size * 1.429;
//                 font-weight: 400;
//                 color: $primary-color;
//             }
//             h1{
//                 font-size: $base-font-size * 2.857;
//                 font-weight: 400;
//                 color: $black;
//                 text-align: center;
//                 margin: 0;
//             }
//         }
//         .section-slider {
//             width: 100%;
//             overflow: hidden;
//             padding: 2rem 1rem;
          
//             .slider-track {
//               display: flex;
//               gap: 16px;
//               transition: transform 0.5s ease;
//               overflow-x: auto;         
//               scroll-snap-type: x mandatory;  
//               -webkit-overflow-scrolling: touch;
//               &::-webkit-scrollbar {
//                 display: none;
//               }
//               scrollbar-width: none; 
//             }
          
//             .content-item {
//               flex: 0 0 calc(100% / 2.5 - 10.7px); // Show 3 at a time
//               text-align: center;
//               background: #fff;
//               border-radius: 12px;
//               padding: 1rem;
//               scroll-snap-align: center;
            
          
//               img {
//                 width: 100%;
//                 border-radius: 12px;
//                 margin-bottom: 1rem;
//               }
          
//               a {
//                 display: block;
//                 font-weight: 400;
//                 color: #111;
//                 text-decoration: none;
//                 margin-top: 0.5rem;
//                 font-size: $base-font-size * 1.429;
//                 &:hover {
//                   text-decoration: underline;
//                 }
//               }
//             }
          
//             .dots {
//               text-align: center;
//               margin-top: 1rem;
          
//               .dot {
//                 display: inline-block;
//                 width: 10px;
//                 height: 10px;
//                 margin: 0 6px;
//                 background: #ccc;
//                 border-radius: 50%;
//                 cursor: pointer;
//                 transition: background 0.3s;
          
//                 &.active {
//                   background: $primary-color
//                 }
//               }
//             }
//         }
//         @media (max-width: 768px) {
//             .section-header{
//                 h3{
//                     font-size: $base-font-size * 1.2;
//                 }
//                 h1{
//                     font-size: $base-font-size * 2.5;
//                 }
//             }
//             .section-slider {
//               .content-item {
//                 border: 1px solid rgba(0, 0, 0, 0.034);
//                 flex: 0 0 80%;
//                 a{
//                     font-size: $base-font-size * 1.1;
//                 }
//               }
//             }
//           }
          
//           @media (min-width: 769px) and (max-width: 1024px) {
//             .section-slider {
//               .content-item {
//                 border: 1px solid rgba(0, 0, 0, 0.034);
//                 flex: 0 0 calc(100% / 2 - 12px); // show 2 at a time
//               }
//             }
//           }
          
          
          
//     }
//     .footer-section{
//         width: 100%;
//         display: flex;
//         flex-direction: column;
//         min-height: 600px;
//         justify-content: space-between;
//         padding: 3rem 1rem;
//         gap: 2rem;
        
//         background:#010100;
//         box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.084);
//         .footer-content{
//             width: 100%;
//             display: flex;
//             gap: 2rem;
//             justify-content: space-between;
//             .logo-section{
//                 width: 20%;
//                 display: flex;
//                 flex-direction: column;
//                 gap: .5rem;
                
//                 img{
//                     width: 80%;
//                 }
              
               
//                 .socials{
//                     display: flex;
//                     gap: .5rem;
//                     align-items: center;
//                     margin-top: 2rem;
//                     a{
//                         color: rgba(0, 0, 0, 0.568);
//                         text-underline-offset: .2rem;
//                         text-decoration: none;
//                         transition:.3s ease;
//                         font-size: $base-font-size * 0.9;
//                         font-weight: 500;
//                         &:hover{
//                             transition: .3s ease;
//                             text-decoration: underline;
//                         }
//                     }
//                 }
//             }
//             .company-section,.about-section, .support-section, .extra-section{
//                 width: 20%;
//                 display: flex;
//                 flex-direction: column;
//                 gap: 1.5rem;
//                 padding: 1.5rem 0;
//                 transition: .4s all ease;
//                 h4{
//                     color: white;
//                     font-size: 20px;
//                     font-weight: 400;
//                 }
//                 ul{
//                     display: flex;
//                     flex-direction: column;
//                     gap: 1rem;
//                     li{
//                         display: flex;
//                         gap: .5rem;
//                         a{
//                             text-decoration: none;
//                             color: $font-color-accent;
//                             font-weight: 300;
//                             text-underline-offset: .2rem;
//                             &:hover{
//                                 transition: .4s ease;
//                                 color: white;
//                             }
//                         }
//                     }
//                 }
//             }
//             .extra-section {
               
//                 .socials{
//                     display: flex;
//                     gap: 1rem;
//                     a{
//                         text-decoration: none;
//                         color: $black;
//                         background: $white;
                        
//                         border-radius: 50%;
//                         width: 2.5rem;
//                         height: 2.5rem;
//                         display: flex;
//                         align-items: center;
//                         justify-content: center;
//                         &:hover{
//                             transition: .2s ease;
//                             background: $primary-color;
//                             color: $white;
//                         }
//                         i.bx{
//                             font-size: $base-font-size * 1.8;
//                         }
//                     }
//                 }
//             };
//         }
//         .footer-bottom{
//             width: 100%;
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             padding: 1rem 0;
            
//             border-top: 1px solid rgba(255, 255, 255, 0.1);
//             p{
//                 color: $font-color-accent;
//                 font-size: $base-font-size * .9;
//                 font-weight: 300;
//                 text-align: center;
//                 margin: 0;
//             }
//             .terms{
//                 display: flex;
//                 gap: 1rem;
//                 a{
//                     text-decoration: none;
//                     color: $font-color-accent;
//                     font-weight: 500;
//                     text-underline-offset: .2rem;
//                     padding: 0 1rem;
//                     &:hover{
//                         transition: .3s ease;
//                         text-decoration: underline;
//                     }
//                 }
//             }
//         }
//         @media (max-width: $breakpoint-mobile){
//             .footer-content{
//                 flex-direction: row;
//                 flex-wrap: wrap;
//                 gap: .5rem;
                
//                 margin: 0;
//                 .logo-section{
//                     width: 60%;
//                 }
//                 .company-section,.about-section,.support-section, .extra-section{
//                     width: 47%;
                    
//                 }
//                 .extra-section{
                
//                     .socials{
//                         justify-content: space-around;
//                         gap: .5rem;
//                         a{
//                         width: 2rem;
//                         height: 2rem;
//                             i.bx{
//                                 font-size: $base-font-size * 1.6;
//                             }
//                         }
//                     }
//                 }
//             }
//             .footer-bottom {
//                 gap: 1rem;
//                 flex-direction: column-reverse;
//                 .terms{
//                     gap: 2rem;
//                     a{
//                         font-size: $base-font-size * .8;
//                     }
//                 }
//             }
//         }
//     }
// }