@import 'variables';
@import 'mixins';
@import 'base';

$success-hover: #218838;
$success: #28a745;
$white: #fff;
$text-dark: #333;

nav.navbar{
    width: 100%;
    display: flex;
    height: 110px;
    // position: absolute;
    top: 0;
    box-sizing: border-box;
    background: transparent !important;
    padding: 0 1.2rem;
    justify-content: space-between;
    // top: 0;
    z-index: 223;

    
    .nav-logo{
        width: 20%;
        
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem;
        img{
            width: 4.3rem;
        }
        h2{
            font-size: $base-font-size-md * 1.5;
            font-weight: 600;
            color: $font-color;
            text-wrap: wrap;
            letter-spacing: .03cm;
            margin: 0;
            line-height: $base-font-size-md * 2;
            text-transform: uppercase;
        }
    }
    .nav-content{
        width: 75%;
       
        display: flex;
        align-items: center;
        gap: .6rem;
        justify-content: space-between;
        ul{
            width: 60%;
            height: 100%;;
           
            display: flex;
            align-items: center;
            justify-content: space-around;
            li{
                list-style: none;
                padding: 0 .8rem;
                
                a{
                    text-decoration: none;
                    color: $font-color;
                    font-weight: 500;
                    font-size: $base-font-size-md;
                    padding: .3rem 0;
                    transition: .3s ease;
                    letter-spacing: .0cm;
                    text-wrap: nowrap;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        
                        left: 0;
                        bottom: 0;
                        width: 0;
                        height: 2px; /* border height */
                        background-color: $primary-color; /* border color */
                        transition: width 0.4s ease;
                    }
                    &:hover{
                        transition: .4s ease;

                        &::after {
                            width: 100%; /* full width on hover */
                        }
                    }
                    &:active{
                        color: $primary-color;
                    }
                }
            };
        }
        .extra{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: $base-font-size-md * 3;
            width: 35%;
            height: 100%;


            a.get-a-loan-btn{
                @include button-style($white, white);
                
                background: $secondary-color;
                display: flex;
                align-self: center;
                align-items: center;
                justify-content: flex-end;
                gap: .5rem;
                transition: .4s ease;;
                border-radius: 5px;
                position: relative;
                border: 1px solid $secondary-color;
                color: $white;
                // padding: 0;
                span{
                    
                    width: 100%;
                    display: flex;
                    padding-left: 5px;
                    justify-self: flex-start;
                    align-self: start;
                    align-items: flex-start;
                }
                &:hover{
                    transition: .4s ease;
                    background: $primary-color;
                    color: $white;
                    border: 1px solid $primary-color;
                }
                i.bx{
                    display: flex;
                    width: 50%;
                    align-items: flex-end;
                    justify-content: flex-end; 
                    position: absolute;
                    font-size: 30px;
                    
                }
                
                
            }
            a.stories-btn{
                @include button-style($white, white);
                background: transparent;
                min-width: 8rem;
                border: 1px solid $primary-color;
                border-radius: 5px;
                transition: .4s ease;
                color: $font-color;
                padding:0 $padding-base * 0.8;
                &:hover{
                    transition: .4s ease;
                    background: $primary-color;
                    color: $white;
                }
            }
            .nav-trigger{
                display: none;
            }
        }
        
    }
    
    @media (max-width: $breakpoint-mobile) {
        
        
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        // justify-content: space-around;
        .nav-logo{   
            width:fit-content;
            padding: .5rem;
            flex-direction: row;
            justify-content: flex-start;
            h2{
                font-weight: 500;
                font-size: $base-font-size-sm * 1.4;
            }
            
            
        }
        .nav-content{
            width: fit-content;
        }
        .nav-content ul{
            display: none;
        }
        .nav-content .extra{
            width:100%;
            padding-right: .5rem;
            justify-content: flex-end;
            .get-a-loan-btn,.stories-btn{
                display: none !important;
            }
        }
        
        .nav-trigger{
            width: 4rem;
            box-sizing: border-box;
            padding: .8rem;
            height: 4rem;
            display: flex !important;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            z-index: 999;
            &.active{
                span{
                    border-radius: 5px;
                    width: 60%;
                    height: 2px;
                    background:$primary-color;
                    display: flex;
                    align-self: flex-end;
                    margin: .2rem;
                    transition: .4s ease;
                    &:nth-child(1){
                        width: 50%;
                        transform: translateX(-60%) rotateZ(45deg) translateY(110%);
                        
                        
                    }
                    &:nth-child(2){
                        width: 100%;
                        transform: rotateZ(-45deg) translate(15%, -15%);
                        
                    }
                    &:nth-child(3){
                        width: 50%;
                        
                        transform:translateY(-500%) translateX(5%) rotateZ(45deg);
                    }
                    
                }
            }
            span{
                border-radius: 5px;
                width: 60%;
                height: 2px;
                
                background: $primary-color;
                display: flex;
                align-self: flex-end;
                
                transition: .4s ease;
                position: relative;
                &:nth-child(1){
                    width: 75%;
                }
                &:nth-child(2){
                    width: 100%;
                    
                   
                }
                &:nth-child(3){
                    width: 75%;
                    
                }
                
            }
        }
    }
    @media (min-width: $breakpoint-desktop) and (max-width: $breakpoint-max) {
        .nav-content ul li a{
            font-size: $base-font-size-lg;
        }
    }
    @media (min-width: $breakpoint-max) {
        .nav-content ul li a{
            font-size: $base-font-size-xl;
        }
        
    }
}
.sidebar-overlay{
    width: 100%;
    height: 100vh;
    
    z-index: 99;
    background: #26412057;
    position: absolute;
    left: -100%;
    
    transition:all 0.5s ease;
    &.active{
        
        left: 0;
    }
    
}
.sidebar{
        position:fixed;
        height: 100%;
        width:70%;
        bottom: 0;
        left: -70%;
        background-color: $bg-color1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition:all 0.6s ease;
        z-index: 999;
        gap: 2rem;
        &.active{
            transition-delay: .6s;
            left: 0;
        }
        .nav-logo{
            width: 100%;
            height: 15%;
            
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: .5rem;
            img{
                width: 5rem;
            }
            h2{
                font-size: $base-font-size-sm * 1.5;
                font-weight: 500;
                color: $font-color;
                text-wrap: wrap;
                letter-spacing: .03cm;
                margin: 0;
                line-height: $base-font-size-sm * 2;

            }
        }
        .nav_list{
            // margin-top: auto;
            width: 100%;
            height: 45%;
            align-items: center;
            justify-content: space-around;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1rem;
            .download-btn{
                @include button-style($white, white);
                min-width: 10rem;
                font-weight: 600 !important;
                border: 1px solid $primary-color;
                background: $primary-color;
                font-size: $base-font-size-sm * 1;
                padding:.5rem 1rem;
                display: flex;
                align-items: center;
                line-height: 40px;
                justify-content: center;
            }
            li{
                list-style: none;
                transition: all .4s ease;
                width: 100%;
                a{
                    text-decoration: none;
                    color: $primary-color;
                    transition: all .4s ease;
                    font-size: $base-font-size-sm * 1.2;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    font-weight: 500;
                    justify-content: space-between;
                    &:hover{
                        color: $primary-color;
                    }
                    i.bx{
                        color: white;
                        font-size: $base-font-size-sm * 2;
                        background: $primary-color;
                        padding: .3rem;

                    }
                }
                
                a.active{
                    color: $font-color;
                    font-weight: 600;
                }
            }
        }
        .socials{
            width: 100%;
            position: relative !important;
            margin-top: 20%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 20px;
            flex-wrap: wrap;
            padding: .8rem;
            
            a{
                text-decoration: none;
                color: $black;
                gap: .5rem;
                display: flex;
                align-items: center;
                transition: all .4s ease;
                font-weight: 400;
                i{
                    font-size: $base-font-size-sm * 1.3;
                    color: white;
                    background: $primary-color;
                    border-radius: 50px;
                    padding: 0.5rem;
                }
                img{
                    width: 2.3rem;
                }
                &:hover{
                    transform: translateY(-15%);
                    color: $primary-color;
                   
                }
            }
            a.active{
                color: $primary-color;
            }
            div{
                display: flex;
                align-items: center;
                
                gap: 1rem;
                padding: .5rem 0;
                flex-wrap: wrap;
            }

        }

}




.main{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    // padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Scrollbar styles */
    &::-webkit-scrollbar {
        width: 12px; /* Width of the scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the track (scroll area) */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888; /* Scrollbar thumb (the actual bar) */
        border-radius: 10px; /* Roundness of the scrollbar */
        border: 3px solid #f1f1f1; /* Padding around the thumb */
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* Darker color when hovering over the scrollbar */
    }

    
    .landingpage{
        
        width: 100%;
        min-height: 60vh;
        height: fit-content;
        box-sizing: border-box;
        margin-bottom: 2rem;
        position: relative;
        overflow:hidden;
        display: flex;
        flex-direction: row;
        padding: $base-font-size-md * 2 $base-font-size-md * 1.5;
        justify-content: space-between;
        align-items: flex-start;
    
        
        .landing-image{
            width: 50%;
            height: 100%;
            object-fit: contain;
            background-position: center;        
            z-index: -1;
            box-sizing: border-box;
            top: 0;
        }
       
        .text-content{
            
            width: 45%;
            height: fit-content;
            padding: $base-font-size-md * 1;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1.5rem;
            
            h1{
                color: $white;
                font-size: $base-font-size-md * 3;
                line-height: normal;
                font-weight:500;
                word-spacing: .1cm;
                color: $black;
                // text-transform:capitalize;
                font-family: 'Poppins', sans-serif;
                margin: 0;
                

            }
            p{
                color: $font-color-accent;
                font-size: $base-font-size-md * 1;
                font-weight: 300;
                width: 100%;
                margin-bottom: 1rem;
            }
           
            
           
            .action-btns{
                display: flex;
                gap: $base-font-size-md * 1.5;
               
                width: 100%;
                a.get-a-loan-btn{
                @include button-style($white, white);
                
                min-width: 10.5rem !important;
                background: $secondary-color;
                display: flex;
                align-self: center;
                align-items: center;
                justify-content: flex-start;
                gap: .5rem;
                transition: .4s ease;;
                border-radius: 5px;
                position: relative;
                border: 1px solid $secondary-color;

                color: $white;
                span{
                   
                    width: 80%;
                    display: flex;
                    padding-left: 0px;
                    justify-self: flex-start;
                    align-self: start;
                    align-items: flex-start;
                    
                }
                &:hover{
                    transition: .4s ease;
                    background: $primary-color;
                    color: $white;
                    border: 1px solid $primary-color;
                }
                i.bx{
                    display: flex;
                    width: 20%;
                    align-items: center;
                    justify-content: center; 
                    position: absolute;
                    font-size: 30px;
                    margin-right: auto;
                    right: 0;
                   
                }
                
                
                }
                a.contact-btn{
                    @include button-style($white, white);
                    background: transparent;
                    min-width: 8rem;
                    border: 1px solid $primary-color;
                    border-radius: 5px;
                    transition: .4s ease;
                    color: $font-color;
                    line-height: 45px;
                    padding:0 $padding-base * 0.8;
                    &:hover{
                        transition: .4s ease;
                        background: $primary-color;
                        color: $white;
                    }
                }
            }
        }


        @media (max-width: $breakpoint-mobile) {
            gap: 2rem;
            flex-direction: column;
            width: 100%;
            
            .text-content{
                bottom: 10%;
                width: 100%;                
                padding: 0rem;
                
                gap: 1.5rem;
                
                h1{
                    width: 100%;
                    font-size: $base-font-size-sm * 2.5;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    
                }
                
                .action-btns{
                    justify-content: flex-start;
                    width: 100%;
                   
                }
            }
            .landing-image{
                width: 100%;
                
            }
        }

        @media (min-width: $breakpoint-desktop) and (max-width: $breakpoint-max) {
            .text-content{
                h1{
                    font-size: $base-font-size-lg * 3;
                }
                p{
                    
                    font-size: $base-font-size-lg * 1.1;
                    margin-bottom: 0;
                }
                .action-btns a.get-a-loan-btn{
                    line-height: 48px;
                }
            }
        }
        @media (min-width: $breakpoint-max) {
            .text-content{
                padding: $base-font-size-xl * 1.5;
                h1{
                    font-size: $base-font-size-xl * 4;
                }
                p{
                    font-size: $base-font-size-xl * 1.1;
            
                }
                .action-btns a.get-a-loan-btn{
                    line-height: 48px;
                    min-width: 11rem !important;
                }
            }
        }
    }
    .accreditations{
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        //Find better background
        background: $tertiary-color;
        .accreditation{
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0 1rem;
            
            width: fit-content;
            height: 100%;
            span{
                color: white;
            }
            img{
                width: 100%;
                object-fit: contain;
                
            }
        }

        @media (max-width: $breakpoint-mobile){
           
            
           
            .accreditation{
                
                span{
                    display: none;
                }
                img{
                   
                   width: 100%;
                }
            }
        }
        
    }
    .featured-services{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: $base-font-size-md * 5 $base-font-size-md * 1.5;
        gap: 1rem;
        
        
        small{
            font-size: $base-font-size-md * 1.2;
            color: $primary-color;
            font-weight: 400;
            border-left: 2px solid $primary-color;
            padding: .1rem .5rem;
            border-right: 2px solid $primary-color;
        }
        h2{
            font-size: $base-font-size-md * 3.5;
            font-weight: 400;
            color: $black;
            text-align: center;
            margin: 0;
            span{
                color: $primary-color;
            }
            
        }
        p{
            font-size: $base-font-size-md * 1.2;
            color: $font-color-accent;
            font-weight: 300;
            text-align: center;
            max-width: 800px;
        }
        @media (max-width: $breakpoint-mobile) {
                small{
                    font-size: $base-font-size-sm * 1;
                }
                h2{
                    font-size: $base-font-size-sm * 2.5;
                }
                p{
                    font-size: $base-font-size-sm * 1;
                }
        }

        @media (min-width: $breakpoint-desktop) and (max-width: $breakpoint-max) {
            small{
                font-size: $base-font-size-lg * 1;
            }
            h2{
                font-size: $base-font-size-lg * 3;
            }
            p{
                font-size: $base-font-size-lg * 1.1;
            }
        }

        @media (min-width: $breakpoint-max) {
            small{
                font-size: $base-font-size-xl * 1;
            }
            h2{
                font-size: $base-font-size-xl * 4;
            }
            p{
                font-size: $base-font-size-xl * 1.1;
            }
        }
        .services-container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: $base-font-size-md * 2;
            margin-top: $base-font-size-md * 3;
            flex-wrap: wrap;
            padding: $base-font-size-md * 1.5;
            .service-card{
                width: 23%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: $base-font-size-md * 1.5;
                padding: $base-font-size-md * 2 $base-font-size-md * 1;
                box-sizing: border-box;
                border: 1px solid rgba(0, 0, 0, 0.084);
                border-radius: 12px;
                transition: .4s all ease;
                &:hover{
                    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
                    transform: translateY(-5%);
                }
                img{
                    width: 2.5rem;
                    background: $primary-color;
                    object-fit: contain;
                    border-radius: 50px;
                    padding: .3rem;
                }
                h3{
                    font-size: $base-font-size-md * 1.5;
                    color: $black;
                    font-weight: 500;
                    text-align: left;
                    margin: 0;
                }
                p{
                    font-size: $base-font-size-md * 1;
                    color: $font-color-accent;
                    font-weight: 300;
                    text-align: left;
                    margin: 0;
                }
                .cta-service{
                    font-size: $base-font-size-md * 1;
                    color: $primary-color;
                    font-weight: 500;
                    text-align: left;
                    text-decoration: none;
                    transition: .3s ease;
                    width: fit-content;
                    position: relative;
                    padding: .3rem 0;
                    &::after {
                        content: '';
                        position: absolute;
                        
                        left: 0;
                        bottom: 0;
                        width: 0;
                        height: 2px; /* border height */
                        background-color: $primary-color; /* border color */
                        transition: width 0.4s ease;
                    }
                    &:hover{
                        transition: .4s ease;

                        &::after {
                            width: 100%; /* full width on hover */
                        }
                    }
                }

                @media (max-width: $breakpoint-mobile) {
                    width: 100%;
                    gap: $base-font-size-sm * 1;
                    p{
                        font-size: $base-font-size-sm * 1;
                    }
                }

                @media (min-width: $breakpoint-desktop) and (max-width: $breakpoint-max) {
                    
                    gap: $base-font-size-lg * 1;
                    p{
                        font-size: $base-font-size-lg * 1.1;
                    }
                }
                @media (min-width: $breakpoint-max) {
                    width: 23%;
                    gap: $base-font-size-xl * 1.5;
                    p{
                        font-size: $base-font-size-xl * 1.1;
                    }
                }
            }
        }
    }
    .faq-section{
        width: 100%;
        box-sizing: border-box;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: $base-font-size-md * 5 $base-font-size-md * 3;
        background: $tertiary-color;
        gap: $base-font-size-md * 2;
        small{
            font-size: $base-font-size-md * 1.1;
            color: $secondary-color;
            font-weight: 400;
            border-left: 2px solid $secondary-color;
            padding: .1rem .5rem;
            border-right: 2px solid $secondary-color;
        }
        @media (max-width: $breakpoint-mobile) {
            padding: $base-font-size-sm * 3 $base-font-size-sm * 1.5;
            gap: $base-font-size-sm * 1.5;
            small{
                font-size: $base-font-size-sm * 1;
            }
        }
        .flexed-section{
            width: 100%;
            display: flex;
            padding: 0;
            justify-content: space-between;
            .left-section{
                width: 45%;
                h3{
                    font-size: $base-font-size-md * 3;
                    font-weight: 500;
                    color: $black;
                    margin: 0;
                    padding: 0;
                    span{
                        color: $font-color-accent;
                    }
                }
                
            }
            .faqs{
                width: 55%;
                display: flex;
                flex-direction: column;
                gap: $base-font-size-md * 1;
                
                .faq-item{
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    gap: $base-font-size-md * 1.5;
                    overflow: hidden;
                    .faq-question{
                        font-size: $base-font-size-md * 1.2;
                        padding: 0 1rem;
                        line-height: 45px;
                        background: $bg-accent;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        &.active h4{
                            color: $secondary-color;
                        }
                        h4{
                            color: $black;
                            font-weight: 300;
                            padding: 1rem 0;

                        }
                        i.bx{
                            font-size: $base-font-size-md * 1.5;
                            transition: .4s ease;
                            color: $secondary-color;
                            &.active{
                                transform: rotateZ(45deg);
                            }
                        }
                    }
                    .faq-answer{
                        font-size: $base-font-size-md * 1;
                        font-weight: 300;
                        color: $font-color-accent;
                        height: 0;
                        
                        &.active{
                            
                            height: fit-content;
                        }
                    }
                }
            }
            @media (max-width: $breakpoint-mobile) {
                flex-direction: column;
                gap: $base-font-size-sm * 2;
                .left-section, .faqs{
                    width: 100%;
                }
                .left-section{
                    h3{
                        font-size: $base-font-size-sm * 2.5;
                    }
                }
                .faqs{
                    .faq-item{
                        .faq-question{
                            height: 65px;
                            line-height: normal;
                            h4{
                                font-size: $base-font-size-sm * 1.1;
                            }
                        }
                    }
                }
            }
        }
    }
    .contact-section{
        width: 100%;
        box-sizing: border-box;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: $base-font-size-md * 5 $base-font-size-md * 1.5;
        background: $primary-color;
        small{
            font-size: $base-font-size-md * 1.1;
            color: $white;
            font-weight: 400;
            border-left: 2px solid $white;
            padding: .1rem .5rem;
            border-right: 2px solid $white;
            margin-left: .1rem;
        }
        .flexed-section{
            
            display: flex;
            padding: 0;
            justify-content: space-between;
            .left-section{
                width: 45%;
                h3{
                    font-size: $base-font-size-md * 3;
                    font-weight: 500;
                    color: $white;
                    margin: 0;
                    padding: 1rem 0;
                }
                span{
                    font-size: $base-font-size-md * 1.1;
                    font-weight: 400;
                    color: $white;
                }
            }
            form{
                display: flex;
                align-items: flex-start;
                width: 55%;
                min-height: 400px;
                
                height: fit-content;
                flex-wrap: wrap;
                box-sizing: border-box;
                .first-section{
                    
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 2%;
                    align-items: flex-start;
                    label{
                        font-size: $base-font-size-md * 1.1;
                        font-weight: 500;
                        color: $white;
                        margin: .5rem 0;
                    }
                    input{
                        width: 100%;
                        padding:0 .7rem;
                        line-height: 40px;
                        border: 1px solid #dad9d98a;
                        border-radius: 5px;
                        margin: .2rem 0;
                        outline: none;
                        &::placeholder{
                            color: #11061c9f;
                        }
                    }
                    .check-div{
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                    
                        gap: .5rem;
                        margin-top: 1rem;
                        label{
                            margin: 0;
                            font-size: $base-font-size-md * 0.9;
                            a{
                                color: $secondary-color;
                                
                                font-weight: 500;
                                margin-left: .2rem;
                            }
                        }
                        input{
                            width: fit-content;
                        }
                    }
                    
                }
                .second-section{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 2%;
                    
                    
                    label{
                        font-size: $base-font-size-md * 1.1;
                        font-weight: 500;
                        color: $white;
                        margin: .5rem 0;
                    }
                    textarea{
                        width: 100%;
                        line-height: 40px;
                        padding: .6rem .7rem;
                        padding-top: 0;
                        border: 1px solid #dad9d98a;
                        border-radius: 5px;
                        margin: .2rem 0;
                        outline: none;
                        &::placeholder{
                            color: #11061c9f;
                        }
                    
                    }
                    p{
                        font-size: $base-font-size-md * 0.8;
                        font-weight: 500;
                        color: $font-color;
                        margin-top: 1rem;
                        a{
                            color: $primary-color;
                            font-weight: 500;
                            text-decoration: none;
                            text-wrap: nowrap;
                        }
                    }
                }
                button.btn{
                    @include button-style(white, #11061c);
                    width: 15%;
                    
                    border: none;
                    padding:.4rem .8rem;
                    margin: 2%;
                    margin-top: 0rem;
                    gap: .5rem;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: capitalize;
                    cursor: pointer;
                    color: $primary-color;
                    i.bx{
                        font-size: $base-font-size-md * 1.2;
                    }
                }
            }
        }

        @media (max-width: $breakpoint-mobile){
            height: fit-content;
            .flexed-section{
                flex-direction: column;
                gap: $base-font-size-sm * 2;
                .left-section, form{
                    width: 100%;
                }
                .left-section{
                    h3{
                        font-size: $base-font-size-sm * 2.5;
                    }
                    span{
                        font-size: $base-font-size-sm * 1;
                    }
                }
                form{
                    flex-direction: column;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    .first-section, .second-section{
                        width: 100%;
                    }
                    
                    button.btn{
                        width: fit-content;
                    }
                }
            }
            
        }

    }
    footer.footer{
        width: 100%;
        background-color: $primary-color;
        padding:2% 5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        hr{
            border: none;
            background: rgba(255, 255, 255, 0.137);
            height: 1px;
            margin: 2% 0;
        }
        .footer-content{
            display: flex;
            align-items: center;
            .left-section{
                width: 100%;
                display: flex;
                flex-direction: column;
                img{
                    width: 4rem;
                    padding: .5rem;
                    background: white;
                    border-radius: 100px 100px;
                    border: 2px solid $secondary-color;
                }
                h3{
                    font-size: $base-font-size-md * 1.3;
                    font-weight: 500;
                    color: white;
                    margin: 1rem 0;
                    
                }
                .divided-section{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1rem;
                    p{
                        color: white;
                        a{
                            color: white;
                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                                text-underline-position: under;
                            }
                        }
                    }
                    div{
                        display: flex;
                        gap: 1rem;
                        a{
                            color: white;
                            text-decoration: none;
                            font-weight: 500;
                            transition: .3s ease;
                            &:hover{
                                
                                color: $secondary-color;
                            }
                            i.bxl{
                                font-size: $base-font-size-md * 1.5;
                            }
                        }
                    }
                }
            }
        }
        
        @media (max-width: $breakpoint-mobile) {
            .footer-content{
                .left-section .divided-section{
                   
                    flex-direction: column;
                    div{
                        display: none;
                    }
                }
            }
        }
    }
}
