* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-optical-sizing: auto;
  background-color: rgba(241, 188, 239, 0.3490196078);
  color: #AA06A3;
  line-height: 1.6;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #AA06A3;
}

nav.navbar {
  width: 100%;
  display: flex;
  height: 110px;
  top: 0;
  box-sizing: border-box;
  background: transparent !important;
  padding: 0 1.2rem;
  justify-content: space-between;
  z-index: 223;
}
nav.navbar .nav-logo {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
nav.navbar .nav-logo img {
  width: 5rem;
}
nav.navbar .nav-logo h2 {
  font-size: 21px;
  font-weight: 600;
  color: #AA06A3;
  text-wrap: wrap;
  letter-spacing: 0.03cm;
  margin: 0;
  line-height: 28px;
}
nav.navbar .nav-content {
  width: 75%;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  justify-content: space-between;
}
nav.navbar .nav-content ul {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav.navbar .nav-content ul li {
  list-style: none;
  padding: 0 0.8rem;
}
nav.navbar .nav-content ul li a {
  text-decoration: none;
  color: #AA06A3;
  font-weight: 500;
  font-size: 14px;
  padding: 0.3rem 0;
  transition: 0.3s ease;
  letter-spacing: 0cm;
  text-wrap: nowrap;
  position: relative;
}
nav.navbar .nav-content ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px; /* border height */
  background-color: #AA06A3; /* border color */
  transition: width 0.4s ease;
}
nav.navbar .nav-content ul li a:hover {
  transition: 0.4s ease;
}
nav.navbar .nav-content ul li a:hover::after {
  width: 100%; /* full width on hover */
}
nav.navbar .nav-content ul li a:active {
  color: #AA06A3;
}
nav.navbar .nav-content .extra {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  height: 100%;
}
nav.navbar .nav-content .extra a.get-a-loan-btn {
  padding: 0 8px;
  color: #000000;
  background-color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  text-wrap: nowrap;
  border-radius: 3px;
  font-size: 14px;
  min-width: 8rem;
  background: #1BB40E;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  transition: 0.4s ease;
  border-radius: 5px;
  position: relative;
  border: 1px solid #1BB40E;
  color: #fff;
}
@media (min-width: 1200px) {
  nav.navbar .nav-content .extra a.get-a-loan-btn {
    font-size: 13.16px;
  }
}
nav.navbar .nav-content .extra a.get-a-loan-btn span {
  width: 100%;
  display: flex;
  padding-left: 5px;
  justify-self: flex-start;
  align-self: start;
  align-items: flex-start;
}
nav.navbar .nav-content .extra a.get-a-loan-btn:hover {
  transition: 0.4s ease;
  background: #AA06A3;
  color: #fff;
  border: 1px solid #AA06A3;
}
nav.navbar .nav-content .extra a.get-a-loan-btn i.bx {
  display: flex;
  width: 50%;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  font-size: 30px;
}
nav.navbar .nav-content .extra a.stories-btn {
  padding: 0 8px;
  color: #000000;
  background-color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  text-wrap: nowrap;
  border-radius: 3px;
  font-size: 14px;
  background: transparent;
  min-width: 8rem;
  border: 1px solid #AA06A3;
  border-radius: 5px;
  transition: 0.4s ease;
  color: #AA06A3;
  padding: 0 8px;
}
@media (min-width: 1200px) {
  nav.navbar .nav-content .extra a.stories-btn {
    font-size: 13.16px;
  }
}
nav.navbar .nav-content .extra a.stories-btn:hover {
  transition: 0.4s ease;
  background: #AA06A3;
  color: #fff;
}
nav.navbar .nav-content .extra .nav-trigger {
  display: none;
}
@media (max-width: 768px) {
  nav.navbar {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
  }
  nav.navbar .nav-logo {
    width: 50%;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: flex-start;
  }
  nav.navbar .nav-logo h2 {
    font-weight: 500;
  }
  nav.navbar .nav-content {
    width: -moz-fit-content;
    width: fit-content;
  }
  nav.navbar .nav-content ul {
    display: none;
  }
  nav.navbar .nav-content .extra {
    width: 100%;
    padding-right: 0.5rem;
    justify-content: flex-end;
  }
  nav.navbar .nav-content .extra .donate-btn, nav.navbar .nav-content .extra .stories-btn {
    display: none !important;
  }
  nav.navbar .nav-trigger {
    width: 4rem;
    box-sizing: border-box;
    padding: 0.8rem;
    height: 4rem;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
  }
  nav.navbar .nav-trigger.active span {
    border-radius: 5px;
    width: 60%;
    height: 2px;
    background: #AA06A3;
    display: flex;
    align-self: flex-end;
    margin: 0.2rem;
    transition: 0.4s ease;
  }
  nav.navbar .nav-trigger.active span:nth-child(1) {
    width: 50%;
    transform: translateX(-60%) rotateZ(45deg) translateY(110%);
  }
  nav.navbar .nav-trigger.active span:nth-child(2) {
    width: 100%;
    transform: rotateZ(-45deg) translate(15%, -15%);
  }
  nav.navbar .nav-trigger.active span:nth-child(3) {
    width: 50%;
    transform: translateY(-500%) translateX(5%) rotateZ(45deg);
  }
  nav.navbar .nav-trigger span {
    border-radius: 5px;
    width: 60%;
    height: 2px;
    background: #AA06A3;
    display: flex;
    align-self: flex-end;
    transition: 0.4s ease;
    position: relative;
  }
  nav.navbar .nav-trigger span:nth-child(1) {
    width: 75%;
  }
  nav.navbar .nav-trigger span:nth-child(2) {
    width: 100%;
  }
  nav.navbar .nav-trigger span:nth-child(3) {
    width: 75%;
  }
}

.sidebar-overlay {
  width: 100%;
  height: 100vh;
  z-index: 99;
  background: rgba(38, 65, 32, 0.3411764706);
  position: absolute;
  left: -100%;
  transition: all 0.5s ease;
}
.sidebar-overlay.active {
  left: 0;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 70%;
  bottom: 0;
  left: -70%;
  background-color: rgba(241, 188, 239, 0.3490196078);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 0.6s ease;
  z-index: 999;
}
.sidebar.active {
  transition-delay: 0.6s;
  left: 0;
}
.sidebar .nav-logo {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
}
.sidebar .nav-logo img {
  width: 5rem;
}
.sidebar .nav-logo h2 {
  font-size: 21px;
  font-weight: 500;
  color: #AA06A3;
  text-wrap: wrap;
  letter-spacing: 0.03cm;
  margin: 0;
  line-height: 28px;
}
.sidebar .nav_list {
  width: 100%;
  height: 45%;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}
.sidebar .nav_list .download-btn {
  padding: 0 8px;
  color: #000000;
  background-color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  text-wrap: nowrap;
  border-radius: 3px;
  font-size: 14px;
  min-width: 10rem;
  font-weight: 600 !important;
  border: 1px solid #AA06A3;
  background: #AA06A3;
  font-size: 14px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  line-height: 40px;
  justify-content: center;
}
@media (min-width: 1200px) {
  .sidebar .nav_list .download-btn {
    font-size: 13.16px;
  }
}
.sidebar .nav_list li {
  list-style: none;
  transition: all 0.4s ease;
  width: 100%;
}
.sidebar .nav_list li a {
  text-decoration: none;
  color: #000000;
  transition: all 0.4s ease;
  font-size: 16.8px;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-weight: 500;
  justify-content: space-between;
}
.sidebar .nav_list li a:hover {
  color: #AA06A3;
}
.sidebar .nav_list li a i.bx {
  color: white;
  font-size: 28px;
  background: #AA06A3;
  padding: 0.3rem;
}
.sidebar .nav_list li a.active {
  color: #AA06A3;
  font-weight: 600;
}
.sidebar .socials {
  width: 100%;
  position: relative !important;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0.8rem;
}
.sidebar .socials a {
  text-decoration: none;
  color: #000000;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
  font-weight: 400;
}
.sidebar .socials a i.bx {
  font-size: 18.2px;
  color: white;
  background: #AA06A3;
  border-radius: 50px;
  padding: 0.5rem;
}
.sidebar .socials a img {
  width: 1.6rem;
}
.sidebar .socials a:hover {
  transform: translateY(-15%);
  color: #AA06A3;
}
.sidebar .socials a.active {
  color: #AA06A3;
}
.sidebar .socials div {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

.main {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Scrollbar styles */
}
.main::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}
.main::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track (scroll area) */
}
.main::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb (the actual bar) */
  border-radius: 10px; /* Roundness of the scrollbar */
  border: 3px solid #f1f1f1; /* Padding around the thumb */
}
.main::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color when hovering over the scrollbar */
}
.main .landingpage {
  width: 100%;
  min-height: 60vh;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 21px;
  justify-content: flex-start;
  align-items: center;
}
.main .landingpage img {
  width: 50%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  z-index: -1;
  box-sizing: border-box;
  top: 0;
}
.main .landingpage .text-content {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 21px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.main .landingpage .text-content h1 {
  color: #fff;
  font-size: 42px;
  line-height: 56px;
  font-weight: 500;
  word-spacing: 0.1cm;
  color: #000000;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.main .landingpage .text-content p {
  color: #44464F;
  font-size: 14px;
  font-weight: normal;
  width: 100%;
  margin-bottom: 1rem;
}
.main .landingpage .text-content .action-btns {
  display: flex;
  gap: 21px;
  width: 100%;
}
.main .landingpage .text-content .action-btns a.donate-btn {
  padding: 0 8px;
  color: #000000;
  background-color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  text-wrap: nowrap;
  border-radius: 3px;
  font-size: 14px;
  min-width: 8rem;
  background: #1BB40E;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  transition: 0.4s ease;
  border-radius: 5px;
  position: relative;
  border: 1px solid #1BB40E;
  line-height: 45px;
}
@media (min-width: 1200px) {
  .main .landingpage .text-content .action-btns a.donate-btn {
    font-size: 13.16px;
  }
}
.main .landingpage .text-content .action-btns a.donate-btn span {
  width: 100%;
  display: flex;
  padding-left: 5px;
  justify-self: flex-start;
  align-self: start;
  align-items: flex-start;
}
.main .landingpage .text-content .action-btns a.donate-btn:hover {
  transition: 0.4s ease;
  background: #AA06A3;
  color: #fff;
  border: 1px solid #AA06A3;
}
.main .landingpage .text-content .action-btns a.donate-btn i.bx {
  display: flex;
  width: 50%;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  font-size: 30px;
}
.main .landingpage .text-content .action-btns a.contact-btn {
  padding: 0 8px;
  color: #000000;
  background-color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  text-wrap: nowrap;
  border-radius: 3px;
  font-size: 14px;
  background: transparent;
  min-width: 8rem;
  border: 1px solid #AA06A3;
  border-radius: 5px;
  transition: 0.4s ease;
  color: #AA06A3;
  line-height: 45px;
  padding: 0 8px;
}
@media (min-width: 1200px) {
  .main .landingpage .text-content .action-btns a.contact-btn {
    font-size: 13.16px;
  }
}
.main .landingpage .text-content .action-btns a.contact-btn:hover {
  transition: 0.4s ease;
  background: #AA06A3;
  color: #fff;
}
@media (max-width: 768px) {
  .main .landingpage {
    gap: 2rem;
    flex-direction: column;
  }
  .main .landingpage .text-content {
    bottom: 10%;
    width: 100%;
    padding: 0rem;
    gap: 1.5rem;
  }
  .main .landingpage .text-content h1 {
    width: 100%;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .main .landingpage .text-content .action-btns {
    justify-content: flex-start;
    width: 100%;
  }
  .main .landingpage img {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */